@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {@content}; //600px
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
  font-weight: 400;
  // color: #fff;
  line-height: 1.6;
  font-size: 1.6rem;
}

.container {
}

.nav {
  background-color: #2196f3;

  &__nav-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__nav-item {
  }

  &__nav-link {
    text-decoration: none;
    display: inline-block;

    &--brand {
      color: #fff;
      font-size: 2.3rem;
      font-weight: 400;
      padding: 0.8rem;
      margin-right: 5rem;
    }

    &--clear:link,
    &--clear:visited {
      color: #fff;
    }
  }
}

.btn {
  display: inline-block;
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  box-shadow: 0 0.1rem 0.1rem rgba(#000, 0.3);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transform: translateY(-1px);
  transition: all 0.3s;

  &:focus {
    outline: none;
    color: greenyellow;
  }

  &:hover {
    box-shadow: 0 0.2rem 0.2rem rgba(#000, 0.5);
  }

  &--clear {
    background-color: #90caf9;
  }

  &--add {
    background-color: #1565c0;
  }

  &--back {
    background-color: #9e9e9e;
  }

  &--delete {
    background-color: #f44336;
  }

  &--update {
    background-color: #ff9800;
  }
}

.form-wrapper {
  max-width: 80rem;
  box-shadow: 0 0.1rem 0.1rem rgba(#000, 0.3);
  padding: 2rem 1.5rem;
  margin: 2rem auto;
  border-radius: 2px;
}

.heading {
  color: #1565c0;

  &--primary {
    font-size: 4rem;
    font-weight: 400;
  }

  &--secondary {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "form-heading   form-heading"
    "form-group-1   form-group-2"
    "btn-box        btn-box";
  grid-gap: 2rem;

  &__heading-box {
    grid-area: form-heading;
  }

  &__btn-box {
    grid-area: btn-box;
    display: flex;
    justify-content: space-between;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }

    & > *:last-child {
      margin-left: auto;
    }
  }

  &__group {
    display: flex;
    flex-flow: column;
    margin-bottom: 2rem;

    &--1 {
      grid-area: form-group-1;
    }

    &--2 {
      grid-area: form-group-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    color: rgba(#1565c0, 0.7);
  }

  &__input {
    display: inline-block;
    border: none;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
    padding: 1rem 0;
    font-size: 1.3rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      box-shadow: 0 1.5px 0px rgba(#26a69a, 0.8);
    }
  }
}

.heading-box {
  text-align: center;
}

.item-list {
  list-style: none;
  max-width: 80rem;
  margin: 1rem auto 5rem auto;

  &__item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 0.1rem solid rgba(#000, 0.1);
    border-radius: 2px;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & > *:last-child {
      margin-left: auto;
    }
  }

  &__meal {
    color: #1565c0;
  }

  &__calories {
    color: #1565c0;
  }

  &__edit-icon {
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    background-color: #1565c0;
    box-shadow: 0 0.1rem 0.1rem rgba(#000, 0.3);
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0.2rem 0.2rem rgba(#000, 0.5);
    }
  }
}
